:root {
  --brend-color-: #2196f3;
  --main-text-color-: #757575;
  --logo-sec-color-: #000000;
  --sec-text-color-: #212121;
  --sec-bg-color-: #f5f4fa;
  --white-color: #ffffff;
}

h1,
h2,
h3,
p,
address {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--main-text-color-);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
}

.title {
  margin-bottom: 30px;
  color: var(--sec-text-color-);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.header__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
  }
}

.header__item {
  margin-right: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .header__item {
    margin-right: 50px;
  }
}

.header__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--sec-text-color-);
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 12px;
  }
}

.nav__item .current {
  color: var(--brend-color-);
}

.nav__link:focus,
.nav__link:hover {
  color: var(--brend-color-);
}

.header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color-);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: var(--brend-color-);
}

.header__list-icon {
  fill: var(--main-text-color-);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover .header__list-icon, .header__link:focus .header__list-icon {
  fill: var(--brend-color-);
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brend-color-);
}

.mobile-menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
    position: absolute;
  }
}

.icon-close {
  opacity: 0;
}

.mobile-menu-btn.is-active .icon-close {
  opacity: 1;
}

.icon-open {
  opacity: 1;
}

.mobile-menu-btn.is-active .icon-open {
  opacity: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateX(0);
}

.no-scroll {
  overflow-y: hidden;
}

.menu-nav-item {
  margin-bottom: 32px;
}

.menu-nav-item:last-child {
  margin-bottom: 0;
}

.menu-nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-group {
  margin-top: auto;
}

.menu-contacts-item {
  margin-bottom: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu-contacts-item:last-child {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .menu-contacts-item {
    font-size: 34px;
  }
}

.menu-socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.menu-socials-item {
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-socials-item:last-child {
  margin-right: 0;
  padding: 0;
  border: none;
}

.menu-socials-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--brend-color-);
}

/* LOGO */
.logo {
  display: flex;
  margin-right: 88px;
  color: var(--brend-color-);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 94px;
  }
}

.logo__secondary {
  color: var(--logo-sec-color-);
}

.logo__secondary-footer {
  color: var(--white-color);
}

/* HERO */
.hero {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--sec-text-color-);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bgi/hero-sm.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bgi/hero-sm@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bgi/hero-md.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bgi/hero-md@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bgi/hero-lg.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-bgi/hero-lg@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--brend-color-);
  color: var(--white-color);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.about__title {
  color: var(--sec-text-color-);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .about__title {
    text-align: left;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100%-30px)/2);
    gap: 30px;
  }
}

.about__list .about__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about__list .about__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about__list .about__item {
    max-width: 270px;
    margin-bottom: 0;
  }
}

.about__list:last-child {
  margin-right: 0;
}

.about__txt {
  line-height: 1.71;
}

.about__icon {
  width: 70px;
  height: 70px;
}

.about__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__box:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* TEAM */
.team {
  padding-bottom: 60px;
  background-color: var(--sec-bg-color-);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
  }
}

.team__title .team__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100%-30px)/2);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.team__item {
  max-width: 450px;
  margin-bottom: 30px;
  background-color: var(--white-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
    margin-bottom: 0;
  }
}

.team__item .team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--sec-text-color-);
}

.team__item .team__text {
  margin-bottom: 16px;
}

.team__item .team__soc-list {
  display: flex;
  justify-content: center;
}

.team__item .team__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item .team__soc-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
}

.team__item .team__soc-item:last-child {
  margin-right: 0;
}

.team__item .team__soc-icons {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__item .team__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__item .team__soc-link:hover, .team__item .team__soc-link:focus {
  background-color: var(--brend-color-);
}

.team__item .team__soc-link:hover > .team__soc-icons, .team__item .team__soc-link:focus > .team__soc-icons {
  fill: var(--white-color);
}

.works {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}

.works__list {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.works__list .works__list-item {
  width: 370px;
  height: 294px;
}

.work__thumb {
  position: relative;
}

.work__descr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 479px) {
  .clients__list {
    justify-content: center;
  }
}

.clients__item {
  width: 210px;
  height: 92px;
}

.clients__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    flex-wrap: nowrap;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--brend-color-);
}

.clients__link:hover > .clients__icon, .clients__link:focus > .clients-icon {
  fill: var(--brend-color-);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */
.footer {
  background-color: var(--sec-text-color-);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-tab-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-tab-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-nav {
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-nav {
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-nav {
    margin-right: 165px;
  }
}

.footer-nav .logo {
  display: block;
  text-align: center;
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .footer-nav .logo {
    text-align: left;
  }
}

.join-box {
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join-box {
    margin-left: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}

.address {
  margin-top: 20px;
}

.address-list-item {
  margin-bottom: 9px;
}

.address-list-item:last-child {
  margin-bottom: 0;
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:focus,
.footer-adress:hover,
.footer-link:hover,
.footer-link:focus {
  color: var(--brend-color-);
}

.footer-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
  padding: 0;
}

/* Join */
.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-join-list {
  display: flex;
}

.soc-icons {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.join-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.join-item:last-child {
  margin-right: 0;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover, .join-link:focus {
  background-color: var(--brend-color-);
}

.subscribe-box {
  text-align: center;
  /* width: 570px; */
}

@media screen and (min-width: 1200px) {
  .subscribe-box {
    margin-left: 93px;
    text-align: left;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    flex-direction: row;
  }
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--brend-color-);
  color: var(--white-color);
  border-radius: 4px;
  border: transparent;
}

.subscribe-btn-text {
  font-family: inherit;
  font-style: 700;
  font-size: 16px;
  line-height: 1,6;
  letter-spacing: 6%;
}

.send-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

.email-footer {
  padding-left: 16px;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
}

.email-footer::placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0,03;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .email-footer {
    margin-bottom: 0;
    width: 356px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 479px) {
  .email-footer {
    width: auto;
  }
}

.filter-buttons {
  background-color: var(--sec-bg-color-);
  color: var(--sec-text-color-);
  cursor: pointer;
  font-family: inherit;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons:focus, .filter-buttons:hover {
  background-color: var(--brend-color-);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0;
}

/* PORTFOLIO */
.cards-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.cards-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
}

.cards-list-item:nth-child(3n) {
  margin-right: 0;
}

.cards-link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover, .cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--sec-text-color-);
}

.card-text {
  font-size: 16px;
  line-height: 1.86;
  color: var(--main-text-color-);
}

.card-box {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-descr {
  display: flex;
  padding: 63px 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .overlay-descr, .cards-link:focus .overlay-descr {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.icon-cancel {
  fill: var(--logo-sec-color-);
  width: 11px;
  height: 11px;
}

.modal-close-button:hover .icon-cancel, .modal-close-button:focus .icon-cancel {
  fill: var(--brend-color-);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-text {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0,03;
  color: var(--sec-text-color-);
}

.form-field {
  margin-bottom: 10px;
  position: relative;
}

.form-label {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  letter-spacing: 0,01;
  color: var(--main-text-color-);
}

.form-input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* width: 200px;
    height: 20px; */
  position: absolute;
}

.checkbox-link {
  margin-left: 4px;
  color: var(--brend-color-);
  text-decoration: underline 1px var(--brend-color-);
}

.checkbox-text {
  color: var(--main-text-color-);
}

.checkbox-icon {
  display: block;
  width: 16px;
  height: 16px;
  color: var(--sec-text-color-);
  margin-right: 8px;
  border-radius: 4px;
  border: 2px solid var(--logo-sec-color-);
}

.form-label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-input-checkbox:checked + .checkbox-icon {
  border-color: var(--brend-color-);
  background-image: url("../img/svg/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-send-btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--brend-color-);
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  font-style: 700;
  font-size: 16px;
  line-height: 1,6;
  letter-spacing: 6%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover, .modal-send-btn:focus {
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.form-input {
  padding-left: 42px;
  margin-left: auto;
  margin-right: auto;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, .form-input:focus-within {
  border-color: var(--brend-color-);
  fill: var(--brend-color-);
  cursor: pointer;
}

.form-input:hover + .modal-form-icon, .form-input:focus + .modal-form-icon {
  fill: var(--brend-color-);
}

.form-input:focus-visible, .form-textarea:focus-visible {
  outline-style: none;
}

.form-textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 448px;
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: inherit;
  font-size: 12px;
  line-height: 1,17;
  letter-spacing: 0,01;
}

.form-textarea:hover, .form-textarea:focus-within {
  border-color: var(--brend-color-);
}

.form-field + .modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal-form-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 63%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  width: 15px;
  height: 12px;
}

.icon-user {
  width: 12px;
  height: 12px;
}

.icon-phone {
  width: 13px;
  height: 13px;
}
/*# sourceMappingURL=main.css.map */