/* TEAM */
.team {
    padding-bottom: 60px;
    background-color: var(--sec-bg-color-);

    @media screen and(min-width:1200px) {
      padding-bottom: 94px;
    }
  }
  .team__title .team__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
  }
  
  .team__list {
    display: block;
    // justify-content: space-between;
    padding: 0;

    @media screen and(min-width:1200px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .team__item {
    width: 450px;
    background-color: var(--white-color);
    text-align: center;
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and(min-width:1200px) {
      width: 270px;
  }
  .team__title {
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    color: var(--sec-text-color-);
  }
  
  .team__text {
    margin-bottom: 16px;
  }
  
  .team__soc-list {
    display: flex;
    justify-content: center;
  }
  
  .team__thumb {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team__soc-item {
      margin-right: 10px;
      width: 44px;
      height: 44px;
      background-color:var(--white-color);
      
      &:last-child {
        margin-right: 0;
  }
    
  }
  
  .team__soc-icons {
    width: 20px;
    height: 20px;
  
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team__soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--white-color);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
      background-color: var(--brend-color-);
      
    }
  }
  
  .team__soc-link:hover > .team__soc-icons, .team__soc-link:focus > .team__soc-icons {
    fill:var(--white-color);
  }
}