.works {
    padding-top: 0;
  }
  
  .works-list {
    display: flex;
    padding: 0;
    justify-content: space-between;

    &-item {
      margin-right: 30px;
      width: 370px;
      height: 294px;
    }
      &:last-child {
      margin-right: 0;
    }
  }
  
  
  
  .work-thumb {
    position: relative;
  }
  
  .work-descr {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
  
    font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
  }
  